* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%); 
    height: 100vh;
    width: 100vw;
    display: flex; 
    flex-wrap: wrap;
    font-family: sans-serif;
    
    
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
    top: 0;
    background: #041832;
}

.header #header__logo{
    display: flex;
    align-items: center;
}
image .header__logo {
    width: 100%;
    height: 100%;
}

#header__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
}

h1 {
    font-size: 3em;
    font-weight: 700;
}

/* nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
}

nav .unordered__list{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    gap: 8rem; 
    width: 100%;
    height: 100%;
}

nav .unordered__list li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .unordered__list li a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
} */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;

}
main section{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content:center;
    align-content: center;
    align-items: center;
    height: 20rem;
    width: 34rem;
    gap: 2rem;
}

main section .card {
     display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
    width: 15rem;
    height: 18rem;
    background: #041832;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 10px rgba(49, 21, 150, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

main section .card img {
    background-image: element();
    width: 100%;
    height: 100%;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

main section .card:hover{
    box-shadow: 5px 5px 20px rgba(143, 125, 209, 0.2);
    transform: translateY(-3%);
}


/* main section #card__password_generator {
    background-image: url("../img/password_generator.webp") ;

}
main section #card__expense_control {
    background-image: url("../img/expense_control.avif");

} */

.card__button {
    text-decoration: none;
    padding: 0.5em 2em;
    width: fit-content;
    background-color: #1875E8;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card__button:hover {
    background-color: #4cae4c;
}

footer{
    width: 100%;
    height: 20%;
    background: #01080E;

}

footer .unordered__list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

footer .unordered__list li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 50%;
}

footer .unordered__list li a {
    text-decoration: none;
    /* width: 100%;
    height: 100%; */
}

footer .unordered__list li a img {
    width: 3rem;
    height: 3rem;
}

footer .unordered__list li a img:hover {
    width: 3.5rem;
    height: 3.5rem;
}
