<footer class="footer">
    <ul class="footer__pages">
        <li class="footer__items">
            <a class="footer__link" href="https://github.com/anthonybanion/">
                <img class="footer__img" src="main/static/img/github.svg" width="20">
            </a>
        </li>
        <li class="footer__items">
            <a class="footer__link" href="https://www.linkedin.com/in/anthonybanion/">
                <img class="footer__img" src="main/static/img/linkedin.png" width="20">
            </a>
        </li>
    </ul>
</footer>